@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.overlay-bg{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(31,29,29,0.38699229691876746) 35%, rgba(222,227,228,0) 100%);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


